# Visual Studio & .NET
.vs/
bin/
obj/
*.user
*.suo
[Dd]ebug/
[Rr]elease/
pub/
publish/

# Windows
Thumbs.db
Desktop.ini

# Node.js / Next.js
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
.env
.env.local
.DS_Store

# VS Code
.vscode/